<template>
  <v-app-bar app>
    <v-spacer></v-spacer>
    <v-btn
      icon
      :title="darkLightIconExplain"
      data-testid="theme-btn"
      @click="toggleThemeDark"
    >
      <v-icon>{{ darkLightIcon }}</v-icon>
    </v-btn>
  </v-app-bar>
</template>

<script>
export default {
  computed: {
    darkLightIcon() {
      return this.$vuetify.theme.dark
        ? "mdi-weather-sunny"
        : "mdi-weather-night";
    },
    darkLightIconExplain() {
      return this.$vuetify.theme.dark
        ? "Enable light theme"
        : "Enable dark theme";
    },
  },
  methods: {
    toggleThemeDark() {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
      localStorage.setItem("prefersColorSchemeDark", this.$vuetify.theme.dark);
    },
  },
};
</script>
