<template>
  <v-app>
    <v-navigation-drawer app> </v-navigation-drawer>
    <AppBar></AppBar>
    <v-main>
      <v-container>
        <router-view></router-view>
      </v-container>
    </v-main>
    <v-footer app> </v-footer>
  </v-app>
</template>

<script>
import AppBar from "@/components/AppBar";
export default { components: { AppBar } };
</script>
